<h3>First Name: <%= @contact.first_name %></h3>
<p>Last Name: <%= @contact.last_name %></p>
<p>Middle Name: $<%= @contact.middle_name %></p>
<p>Phone number: $<%= @product.phone_number%> </p>
<p>Email: $<%=@product.email %></p>
<p>Full Name: <%= @product.full_name %></p>
<div><a class="btn btn-default" href="/products/<%= @product.id%>/edit">Edit</a></div>
<a class="btn btn-default" href= "/products"> Home Page</a>
<%= form_tag "/products/#{@product.id}", method: :delete do %> 
  <input type="Submit" value="Destroy Yoga Mat">
<% end %> 